@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #010101;
    color: #ffffff;
}

.titulo-destaque {
    color : #e3b10c;
}

.texto-destaque {
    color:rgb(255, 255, 255)
}


.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 40px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: #e3b10c;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #010101;
    font-family: 'Montserrat', sans-serif;


}
.amores{
    display: flex;
    justify-content: space-evenly;
}